<h3 class="comments-header">User Comments</h3>
{{#each comments}}
<div class="comments">
    <div class="comments-body">
        <p>
            {{this.comment}}
        </p>
        <div>
            by: {{this.user.username}}, {{format_date date_created}}
        </div>
    </div>
</div>
{{/each}}