<!-- Footer Section -->
<footer class="bg-rose-500 text-black p-8 mt-auto w-full border-t-4 border-black">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0 md:space-x-4">

    <!-- Footer Nav Links (First Column) -->
    <div class="text-center flex flex-col justify-center items-center border-black border-r-4 h-[300px] w-[300px]">
      <h5 class="mb-4 underline font-semibold text-2xl">Quick Links</h5>
      <ul class="space-y-2">
        <li><a href="/home" class="text-black hover:text-white text-xl">Home</a></li>
        <li><a href="/blog" class="text-black hover:text-white text-xl">Blog</a></li>
      </ul>
    </div>

    <!-- Logo (Second Column) -->
    <div class="flex justify-center items-center md:justify-start border-4 border-black bg-cyan-500">
      <img src="/public/images/inverted-logo.png" alt="console.blog logo" class="neo-shadow" />
    </div>

    <!-- Social Media Links and Copyright (Third Column) -->
    <div class="text-center flex flex-col justify-center items-center h-[300px] w-[300px] border-l-4 border-black">
      <h5 class="mb-4 underline font-semibold text-2xl">Follow Us</h5>
      <div class="space-x-2">
        <a href="https://www.twitter.com/__dsatpm" class="text-black hover:text-white"><i
            class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/__dsatpm" class="text-black hover:text-white"><i
            class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/jeremiah-j-haynes" class="text-black hover:text-white"><i
            class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.github.com/dsatpm" class="text-black hover:text-white"><i
            class="fab fa-github fa-2x"></i></a>
        <p>Copyright 2023 console.blog</p>
      </div>
    </div>
  </div>
</footer>