{{!-- Footer Section --}}
<footer class="bg-gray-900 text-gray-300 p-8 mt-auto w-full">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0 md:space-x-4">

    {{!-- Footer Nav Links (First Column) --}}
    <div class="text-center">
      <h5 class="mb-2 underline font-semibold">Quick Links</h5>
      <ul class="space-y-2">
        <li><a href="/home" class="text-gray-300 hover:text-yellow-500">Home</a></li>
        <li><a href="/blog" class="text-gray-300 hover:text-yellow-500">Blog</a></li>
        <li><a href="/about" class="text-gray-300 hover:text-yellow-500">About</a></li>
        <li><a href="/contact" class="text-gray-300 hover:text-yellow-500">Contact</a></li>
      </ul>
    </div>

    {{!-- Logo (Second Column) --}}
    <div class="flex justify-center items-center">
      <img src="/public/images/console.blog.png" alt="console.blog logo" />
    </div>

    {{!-- Social Media Links and Copyright (Third Column) --}}
    <div class="text-center">
      <h5 class="mb-3 underline font-semibold">Follow Us</h5>
      <div class="space-x-2">
        <a href="https://www.twitter.com/__dsatpm" class="text-gray-300 hover:text-yellow-500"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/__dsatpm" class="text-gray-300 hover:text-yellow-500"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/jeremiah-j-haynes" class="text-gray-300 hover:text-yellow-500"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.github.com/dsatpm" class="text-gray-300 hover:text-yellow-500"><i class="fab fa-github fa-2x"></i></a>
        <p class="mt-1">&copy; 2021 console.blog</p>
      </div>
    </div>
  </div>
</footer>
