<footer class="bg-gray-900 text-gray-300 p-8 mt-auto w-full">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-around space-y-4 md:space-y-0 md:space-x-4">
    <!-- First Column: Site Navigation -->
    <div class="text-center">
      <ul class="space-y-2">
        <li><a href="/home" class="text-gray-300  hover:text-yellow-500">Home</a></li>
        <li><a href="#" class="text-gray-300  hover:text-yellow-500">About</a></li>
        <li><a href="#" class="text-gray-300  hover:text-yellow-500">Services</a></li>
        <li><a href="#" class="text-gray-300  hover:text-yellow-500">Portfolio</a></li>
      </ul>
    </div>

    <!-- Second Column: Logo -->
    <div class="flex justify-center items-center">
      <img src="/public/images/console.blog.png" alt="console.blog logo" />
    </div>

    <!-- Third Column: Signup Form -->
    <div class="text-center">
      <h3 class="text-lg font-semibold mb-2">Sign Up for Updates</h3>
      <form>
        <div class="mb-2">
          <input type="email" class="w-full p-2 rounded-md text-gray-800" placeholder="Email Address">
        </div>
        <div>
          <button type="submit" class="bg-yellow-500 hover:bg-yellow-400 text-black px-4 py-2 font-semibold rounded-md mt-3">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
