{{!-- Footer Section --}}
<footer class="bg-yellow-500 text-black p-8 mt-auto w-full">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0 md:space-x-4">

    {{!-- Footer Nav Links (First Column) --}}
    <div class="text-center md:text-left">
      <h5 class="mb-2 underline font-semibold">Quick Links</h5>
      <ul class="space-y-2">
        <li><a href="/home" class="text-black hover:text-white">Home</a></li>
        <li><a href="/blog" class="text-black hover:text-white">Blog</a></li>
        <li><a href="/about" class="text-black hover:text-white">About</a></li>
        <li><a href="/contact" class="text-black hover:text-white">Contact</a></li>
      </ul>
    </div>

    {{!-- Logo (Second Column) --}}
    <div class="flex justify-center items-center md:justify-start">
      <img src="/public/images/inverted-logo.png" alt="console.blog logo" />
    </div>

    {{!-- Social Media Links and Copyright (Third Column) --}}
    <div class="text-center">
      <h5 class="mb-3 underline font-semibold">Follow Us</h5>
      <div class="space-x-2">
        <a href="https://www.twitter.com/__dsatpm" class="text-black hover:text-white"><i
            class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/__dsatpm" class="text-black hover:text-white"><i
            class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/jeremiah-j-haynes" class="text-black hover:text-white"><i
            class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.github.com/dsatpm" class="text-black hover:text-white"><i
            class="fab fa-github fa-2x"></i></a>
            <p>Copyright 2023 console.blog</p>
      </div>
    </div>
  </div>
</footer>