{{!-- Logout --}}
<a href="/logout">
          <button
            class="bg-white text-black border-black border-2 border-l-4 sm:text-md text-lg sm:text-md lg:text-xl font-medium py-11 px-4 sm:px-6 lg:px-8">Logout</button>
        </a>

<script src="/public/js/logout.js"></script>
