<div class="post">
  <div class="post-header">
    <h1>{{title}}</h1>
    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <div class="post-body">
    <p>
      {{content}}
    </p>
    <p>
      {{> comments}}
    </p>
  </div>
</div>