<!DOCTYPE html>

<head>

	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0 minimum-scale=1.0' />
	<link rel='stylesheet' href='/public/css/styles.css' />
	<title>console.blog // A Coder's Blogspot</title>

</head>

<body>

	<main>

		{{{ body }}}

	</main>
</body>

</html>