<!-- Blog Section -->
<div
  class="container mx-auto flex flex-col md:flex-row items-center justify-around space-y-4 md:space-y-0 md:space-x-4 bg-gray-500 min-h-screen">
  <div class="bg-yellow-500 text-black w-full p-3 md:w-1/2 border-4 border-black neo-shadow m-4">
    <form class="w-full p-3" id="newPost">
      <h2 class="text-xl font-extrabold">blog.addEventListener('submit', newPost);</h2>
      <p class="text-sm sm:text-base">Submit a story, good or bad, about your coding journey.</p>
      <label for="title" id="title" class="block mb-2 font-bold text-black mt-4">Title:</label>
      <input type="text" id="title" name="title"
        class="w-full px-3 py-2 mb-3 leading-tight text-black shadow appearance-none border-2 border-black neo-shadow">
      <label for="content" id="content" class="block mb-2 font-bold text-black">Content:</label>
      <textarea id="content" name="content"
        class="w-full px-3 py-2 mb-3 leading-tight text-black shadow appearance-none border-black border-2 neo-shadow"></textarea>
      <button type="submit" class="bg-black text-black mt-4 w-full md:w-1/2 ml-3"><span
          class="bg-violet-500 font-semibold block p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6 2xl:p-7 -translate-x-2 -translate-y-2 border-black border-2 text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl hover:-translate-y-3 active:translate-x-0 active:translate-y-0 transition-all">Submit</span></button>
    </form>
  </div>
</div>

<script src="/public/js/write-post.js"></script>