{{!-- Blog Section --}}
<div class="container mx-auto px-4 py-8 h-screen">

  <h2 class="text-3xl font-bold mb-4">console.blog(recentPosts.fromUsers);</h2>

  <div class="relative">

    {{#each blogPosts}}
    <div class="border-l-2 border-gray-400 pl-4 mb-4">
      <h3 class="text-lg font-bold">{{this.title}}</h3>
      <p class="text-gray-800">{{this.content}}</p>
    </div>
    {{/each}}

  </div>

</div>