<section>
  <form id="editPostForm" class="card">
    <h2 class="card-header">Edit Post</h2>
    <label for="post-title">Title</label>
    <input name="post-title" type="text" value="{{post.title}}" required />
    <label for="content">Content</label>
    <input name="content" type="text" value="{{post.content}}" required />
    <button type="submit">Update Post</button>
    <button type="button" class="delete-button">Delete Post</button>
  </form>
</section>



<script src="/public/js/edit-post.js"></script>
<script src="/public/js/delete-post.js"></script>