<div class="bg-black h-screen flex items-center justify-center">
  <div class="container w-2/3 mx-auto">
    <h1 class="text-5xl font-bold text-white">${welcome}.to += console.blog(!);</h1>
    <h2 id="typewriter" class="text-3xl text-yellow-500 my-3 h-8 lg:h-8 md:h-16"><span id="typing-text"></span><span class="cursor"></span></h2>
    
    <h3 class="text-xl text-gray-200 mb-5">Share with the community your triumphs and failures, successes and hardships,
      challenging moments and those times you banged your head against your keyboard for hours on end out of frustration.
      Every story is important!</h3>
    <a href="/blog">
    <button class="bg-black">Share a Story
      </button>
    </a>
  </div>
</div>

<script src="/public/js/typewriter.js"></script>