<form id="loginForm" action="/login" method="post">
  <h1>Login</h1>
  <input id="usernameLogin" type="text" autofocus="true" placeholder="Username" required />
  <br>
  <input id="passwordLogin" type="password" placeholder="Password" required />
  <br>
  <button type="submit">Login</button>
  <p>
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>

<script src="/public/js/login.js"></script>