<!-- Login Form -->
<a href="/" class="absolute top-0 left-0 m-4">
  <img src="/public/images/inverted-logo.png" alt="console.blog logo"
    class="h-[170px] w-[170px] bg-amber-500 neo-shadow border-4 border-black" />
</a>
<div class="flex flex-col lg:flex-row h-screen justify-center items-center">

  <!-- Login Form Section -->
  <div class="lg:w-3/4 flex items-center justify-center bg-gray-500">
    <form id="login-form" class="w-1/2 bg-green-500 mt-4 px-6 pt-6 pb-8 neo-shadow border-4 border-black">
      <h2 class="text-center font-semibold text-2xl mb-4 text-black"><i class="fa-brands fa-hive"></i> Login</h2>
      <div class="mb-4">
        <label class="block text-black font-bold mb-2" for="username">
          Username
        </label>
        <input class="appearance-none w-full py-2 px-3 text-black leading-tight border-black border-2 neo-shadow"
          id="user-login" type="username" autocomplete="off" required>
      </div>
      <div class="mb-6">
        <label class="block text-black font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none w-full py-2 px-3 text-black leading-tight neo-shadow border-2 border-black"
          id="pwd-login" type="password" autocomplete="off" required>
      </div>
      <div class="flex items-center justify-center lg:justify-between">
        <a href="/blog">
          <button class="bg-black text-black w-full lg:w-auto my-4" type="button">
            <span
              class="bg-blue-500 font-semibold block p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6 2xl:p-7 -translate-x-2 -translate-y-2 border-black border-2 text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl hover:-translate-y-3 active:translate-x-0 active:translate-y-0 transition-all">Sign
              In</span>
          </button>
        </a>
        <span class="text-sm lg:text-base text-black mx-3">or</span>
        <a href="/signup" class="w-full lg:w-auto">
          <button class="bg-black text-black w-full lg:w-auto my-4" type="button">
            <span
              class="bg-red-500 font-semibold block p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6 2xl:p-7 -translate-x-2 -translate-y-2 border-black border-2 text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl hover:-translate-y-3 active:translate-x-0 active:translate-y-0 transition-all">Sign
              Up</span>
          </button>
        </a>
      </div>
    </form>
  </div>
</div>

<script src="/public/js/login.js"></script>