{{> post-info post}}

{{#if loggedIn}}

<form id="commentForm">

  <label class="form-label">Comment</label>
  <input id="comment" name="comment-body" />

  <button type="submit">Submit</button>
</form>

{{/if}}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}