@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black bg-white m-0 p-0;
}

main {
  @apply bg-gray-500 font-archivo;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  @apply bg-black;
  display: inline-block;
  vertical-align: middle;
  width: 0.125em;
  height: 1em;
  animation: cursor 0.7s infinite;
}

.neo-shadow {
  box-shadow: 10px 10px black;
}
